<!DOCTYPE html>
<html>
  <%- include('header')-%>
  <body>
    <div class="box" id="heading">
      <h1 class="title">About us</h1>
    </div>
    <div class="box">
      <p>Somethign somethin</p>
    </div>
    <%- include('footer')-%>
  </body>
</html>
